/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden{
  display: none !important;
}

// USER FORM
.user-form{
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}
.user-form > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-form > div > a{
  height: 20px;
  border: 1px solid blue;
  color: blue;
}
.user-form > div > a:last-child{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    color: black;
    border: 0;
}
.user-form > div > a:hover{
  cursor: pointer;
}
.user-form h1{
  width: 100%;
  text-align: center;
}
.user-form input{
  width: 100%;
  margin-bottom: 10px;
}
// USER FORM
.navbar{
  float: right;
  margin-right: 25px;
  margin-top: -60px;
  display: flex;
  flex-direction: row;
}
.navbar > ul{
  background-color: #f3f3f3;
  position:absolute;
  top: 60px;
  right: 15px;
}
.navbar > button{
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar > img:hover{
  cursor: pointer;
}
.account-navbar{
  list-style-type: none;
  border-radius: 5px;
  padding:0;
  // background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
}
.account-navbar a{
  text-decoration: none;
  color: black; 
}
.account-navbar li{
  padding: 10px;
}
.account-navbar li:last-of-type{
  border-radius: 0 0 5px 5px;
}
.account-navbar li:hover{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
.account-navbar li > svg{
  width: 25px;
  margin-right: 10px;
}
.account-navbar h4{
  margin: 0;
  padding: 5px;
  font-size: 25px;
}
.account-navbar h4:last-of-type{
  font-weight: 200;
  border-bottom: 1px solid darkgray;
}
.sidebar{
  float: left;
  height: 98vh;
  width: 65px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  padding-top: 10px;
  margin: 0;
}
.sidebar > a{
  width: 35px;
  margin: 0 auto;
}
.sidebar > a:hover{
  cursor: pointer;
}
.sidebar ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.sidebar ul a{
  text-decoration: none;
  font-size: 12px;
  text-align: center;
}
.sidebar ul li{
  margin-top: 15px;
  color: black;
  margin: 10px auto;
}
.sidebar ul li.active svg{
  fill: #4ecac8;
  font-weight:900;
}
.sidebar ul li svg{
  color: gray;
}
.sidebar ul svg{
  width: 35px;
}

.sidebar.active{
  width: 150px;
}
.sidebar.active > a{
  margin: 0 auto;
}
.sidebar.active > a:hover{
  cursor:pointer;
}
.sidebar.active > a svg{
  margin-left: -25%;
  width: 50px;
}
.sidebar.active ul li{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.sidebar.active ul li svg{
  margin-right: 15px;
}
.sidebar.active ul a{
  font-size: 15px;
}
.sidebar.active ul a li{
  margin: 0;
  padding: 15px;
}
.sidebar.active ul a li.active{
  fill: #4ecac8;
  font-weight:900;
}
.sidebar.active ul a:hover li{
  background-color: #3498db;
  fill: #10bebb;
}
.main-content{
  margin-left:65px;
  margin-top: 15px;
  padding: 15px;
  height: 83vh;
  min-width: 1000px;
}
.main-content.active{
  margin-left: 150px;
}
.video-info{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
[class^="col-"]{
  float: left;
}
.col-2-5{
  margin-left: 5%;
  min-width: 30%;
  width: 30%;
}
.col-3-5{
  min-width: 55%;
  width: 55%;
  margin-left: 25px;
}
#me-cube-logo img{
  width: 150px;
  margin-top: 15px;
  margin-left: 65px;
}
#me-cube-logo.active img{
  margin-left: 150px;
}
#error-window{
  z-index: 2;
  position: absolute;
  padding: 10px;
  width: 300px;
  left: calc( 50% - 150px);
  top: 15px;
  border-radius: 5px;
  text-align: center;
  vertical-align: super;
  background-color: lightcoral;
  opacity: 0;
  transition: opacity 1s;
}
#error-window.active{
  opacity: 100%;
}
body{
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #c3c3c3;
}
button{
  color: blue;
  background-color: white;
  border: 1px solid blue;
  width: 90px;
  height: 45px;
  font-weight: 700;
  margin-right: 10px;
}
button:hover{
  cursor: pointer;
}
span{
  vertical-align: 40%;
  // border: 1px solid black;
}
svg{
  width:50px;
}
video{
  min-width: 500px;
  // max-width: 700px;
  width: 100%;
}