/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden{
  display: none !important;
}

// USER FORM
.user-form{
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}
.user-form > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-form > div > a{
  height: 20px;
  border: 1px solid blue;
  color: blue;
}
.user-form > div > a:last-child{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    color: black;
    border: 0;
}

.user-form > div > a:hover{
  cursor: pointer;
}
.user-form h1{
  width: 100%;
  text-align: center;
}
.user-form input{
  width: 100%;
  margin-bottom: 10px;
}
// USER FORM
.navbar{
  float: right;
  margin-right: 25px;
  margin-top: -55px;
  display: flex;
  flex-direction: row;
}

.navbar > ul{
  background-color: #f3f3f3;
  position:absolute;
  top: 50px;
  right: 15px;
}

.navbar > button{
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar > img:hover{
  cursor: pointer;
}

.account-navbar{
  list-style-type: none;
  border-radius: 5px;
  padding:0;
  // background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
}
.account-navbar a{
  text-decoration: none;
  color: black; 
}

.account-navbar li{
  padding: 10px;
}

.account-navbar li:last-of-type{
  border-radius: 0 0 5px 5px;
}
.account-navbar li:hover{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.account-navbar li > img{
  width: 25px;
  margin-right: 10px;
}

.account-navbar h4{
  margin: 0;
  padding: 5px;
  font-size: 25px;
}
.account-navbar h4:last-of-type{
  font-weight: 200;
  border-bottom: 1px solid darkgray;
}

.sidebar{
  float: left;
  height: 98vh;
  width: 65px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  padding-top: 10px;
  margin: 0;
}

.sidebar > a{
  width: 35px;
  margin: 0 auto;
}
.sidebar > a:hover{
  cursor: pointer;
}

.sidebar ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.sidebar ul a{
  text-decoration: none;
  font-size: 12px;
  text-align: center;
}
.sidebar ul li{
  margin-top: 15px;
}

.sidebar ul img{
  width: 35px;
}

.sidebar.active{
  width: 150px;
}
.sidebar.active > a{
  margin: 0 auto;
}
.sidebar.active > a:hover{
  cursor:pointer;
}
.sidebar.active > a img{
  margin-left: -25%;
  width: 50px;
}

.sidebar.active ul li{
  display: flex;
  align-items: center;
}
.sidebar.active ul li img{
  margin: 0 15px;
  // margin-right: 15px;
}

.sidebar.active ul a{
  font-size: 15px;
}

.sidebar.active ul a:hover li{
  background-color: lightgray;
}

.main-content{
  margin-left:65px;
  margin-top: 15px;
  padding: 15px;
  background-color: #c3c3c3;
  height: 83vh;
}

body{
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
button{
  color: blue;
  background-color: white;
  border: 1px solid blue;
  width: 90px;
  height: 45px;
  font-weight: 700;
  margin-right: 10px;
}

button:hover{
  cursor: pointer;
}

span{
  vertical-align: 40%;
  // border: 1px solid black;
}

video{
  margin: 25px;
  min-width: 500px;
  max-width: 700px;
  width: 60vw;
}