/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden{display: none !important;}
:focus{
  outline-style: outset;
  // outline-width: 2px;
  outline-color: #4ecac8;
}
button:focus {outline:0;}
input:focus {outline:0;}
text:area:focus{outline:0;}
a:focus{outline:0;}
// USER FORM
// // Version 1: (Top Right with no white background)
// .user-form{
//   z-index: 2;
//   box-sizing: border-box;
//   padding: 15px;
//   position: absolute;
//   top: 15px;
//   right: 15px;
//   border: 1px solid black;
//   background-color: rgb(240, 240, 240);
//   width: 275px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   border-radius: 5px;
// }
// Version 2: (Window in the middle with white background)
.user-form{
  z-index: 3;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  border: 1px solid black;
  background-color: rgb(240,240,240);
  width: 275px;
  // height: 300px;
  top: calc(50vh - 165px);
  left: calc(50vw - 137.5px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}
.user-form-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 2;
}
.user-form > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-form > div > a{
  height: 20px;
  border: 1px solid indigo;
  color: indigo;
  padding: 5px;
  border-radius: 10px;
}
.user-form > div > a:last-child{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    color: black;
    border: 0;
}
.user-form > div > a:hover{
  cursor: pointer;
}
.user-form h1{
  width: 100%;
  text-align: center;
}
.user-form input{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
}
.user-form form{
  width: 300px;
  margin: 0 auto;
}
// USER FORM
.navbar{
  float: right;
  margin-right: 35px;
  margin-top: -60px;
  display: flex;
  flex-direction: row;
}
.navbar > ul{
  background-color: #f3f3f3;
  position:absolute;
  top: 60px;
  right: 15px;
}
.navbar > button{
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar > #profile-btn:hover{
  cursor: pointer;
  fill: #4ecac8;
}
.account-navbar{
  z-index: 2;
  list-style-type: none;
  border-radius: 5px;
  padding:0;
  // background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
}
.account-navbar a{
  text-decoration: none;
  color: black; 
}
.account-navbar li{
  padding: 10px;
}
.account-navbar a:last-of-type li{
  border-radius: 0 0 5px 5px;
}
.account-navbar li:hover{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
.account-navbar li > svg{
  width: 25px;
  margin-right: 10px;
}
.account-navbar li:hover > svg{
  fill: #4ecac8
}
.user-submit-btn{
  float: right;
  margin-right: 0;
}
.sidebar{
  z-index: 2;
  background-color: white;
  float: left;
  height: 98vh;
  width: 65px;
  position: fixed;
  display: flex;
  flex-direction: column;
  // border-right: 1px solid gray;
  padding-top: 10px;
  margin: 0;
}
.sidebar > .menu-button{
  width: 35px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
  // margin: 0 auto;
  float: left;
}
.sidebar > .menu-button:hover{
  cursor: pointer;
  fill: #4ecac8;
}
.sidebar ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.sidebar ul a{
  text-decoration: none;
  font-size: 12px;
  text-align: center;
}
.sidebar ul li{
  color: black;
  padding: 5px 0;
  padding-top: 10px;
}
.sidebar ul li:hover{
  background-color: darkgray;
}
.sidebar ul li.active svg{
  fill: #4ecac8;
  font-weight:900;
}
.sidebar ul li svg{
  color: gray;
}
.sidebar ul svg{
  width: 35px;
}

.sidebar.active{
  width: 150px;
}
.sidebar.active ul li{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.sidebar.active ul a{
  font-size: 15px;
}
.sidebar.active ul a li{
  margin: 0;
  padding: 15px;
}
.sidebar.active ul a li.active{
  fill: #4ecac8;
  font-weight:900;
}
.sidebar.active ul a:hover li{
  // background-color: #3498db;
  // fill: #10bebb;
  background-color: darkgray;
  fill: #00fdf9;
  color: #00fdf9
}
.main-content{
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 8.5px;
  position: fixed;
  padding: 15px;
  padding-left: 80px;     //img height + margin-top
  height: calc(100% - calc(76.34px + 8.5px));
  width: 100%;
  background-color: rgb(250, 250, 250);
  overflow-y: scroll;
}
.main-content.video-page{
  min-width: 910px;
}
.main-content.active{
  padding: 25px;
  padding-left: 160px;
}
.main-content.active .video-list{
  padding: 10px;
}
.main-content .video-list div{
  width: 20vw;
  min-width: 165px;
  min-height: 210px;
  max-width: 24vw;
  max-height: 25vw;
  // margin-right: calc( 15px + 1vw );
}
.main-content .video-list li{
  margin-right: 15px;
}
.video-list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
}
.video-list img{
  min-width: 170px;
  min-height: 100px;
  width: 20vw;
  height: 12vw;
}
.video-list a{
  text-decoration: none;
  color: gray;
  font-weight: 200;
  font-size: 15px;
}
.video-title-span{
  display: inline-block;
  color: black;
  font-weight: 600;
  font-size: 20px;
  overflow: hidden;
  height: 45px;
  // word-wrap: break-word;
}
.video-title-span:hover{
  color: gray;
}
.video-creator-span:hover{
  color: black;
}
.video-container{
  float: left;
  margin-left: 25px;
  min-width: 60%;
  width: 70%;
}
.video-recommendations{
  float: left;
  margin-left: 15px;
  min-width: 18%;
  width: 25%;
  font-size: 20px;
}
.video-info{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  // align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 7px;
}
.video-info li:last-of-type{
  display: flex;
  align-items: center;
}
.profile-pic{
  float: left;
  margin-top: 14px;
}
.vid-info-btn{
  float: left;
  width: 75px;
  text-align:center;
  font-size: 10px;
  vertical-align: center;
}
.vid-info-btn:hover{
  cursor: pointer;
  fill: lightgray;
}
.dislike{margin: 0 15px}
.like.active, .dislike.active{
  fill: blue;
}
.video-form{
  min-width: 800px;
  width: 100%;
}
.publish-btns {
  width: 96%;
  min-width: 910px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.publish-btns button{
  float: right;
}
.blue-btn{
  background-color: #1a73e8;
  color: white;
}
.publish-btns::after{
  content: "";
  display: block;
  clear: both;
}
.video-form video{
  min-width: 350px;
  width: 58%;
}
.video-form  input, .video-form  textarea{
  font-family: Roboto, Arial, sans-serif;
  border-radius: 5px;
  min-width: 350px;
  width: 35%;
  margin-bottom: 15px;
}
.video-form input{
  height: 25px;
}
.video-show{
  min-width: 500px;
  // max-width: 700px;
  width: 100%;
}
.video-views{
  white-space: nowrap;
}
.upload-video-btn{
  margin-right: 25px;
  text-decoration: none;
  color: black;
}
[class^="col-"]{
  float: left;
}
.col-1-5{
  margin-right: 8px;
  min-width: 15%;
  width: 15%;
}
.col-2-5{
  margin-left: 5%;
  min-width: 30%;
  width: 30%;
}
.col-3-5{
  margin-left: 25px;
  min-width: 55%;
  width: 55%;
}
.col-4-5{
  margin-left: 12px;
  min-width: 75%;
  width: 75%;
}
#me-cube-logo{
  margin-left: 75px;
}
#me-cube-logo.active{
  margin-left: 150px;
}
#me-cube-logo img{
  margin-top: 12px;
  width: 150px;
}
#error-window{
  z-index: 10;
  position: absolute;
  padding: 10px;
  width: 300px;
  left: calc( 50% - 150px);
  top: -100px;
  border-radius: 5px;
  text-align: center;
  vertical-align: super;
  background-color: lightcoral;
  // opacity: 0;
  transition: all 1s;
}
#error-window.active{
  top: 15px;
}
.error-window-close-btn{
  float: right;
}
.error-window-close-btn:hover{
  cursor: pointer;
}
@media only screen and (max-width: 800px){
  #searchbar{
    display: none !important;
  }
  #search-result .video-list li div a{
    margin-left: 200px !important;
  }
}
#searchbar{
  position: absolute;
  top: 15px;
  left: calc( 30vw + 50px);
  display: flex;
  flex-wrap: nowrap;
}
#searchbar input, #searchbar{
  height: 25px;
  width: 30vw;
  font-size: 20px;
}
#searchbar button{
  height: 31px;
  fill: gray;
}
#searchbar button:hover{
  fill: black;
}
#search-result .video-list{
  flex-direction: column;
}
#search-result .video-list li div a{
  margin-left: 25vw;
  display: block;
}
#search-result .video-list li div a:first-of-type{
  display: inline !important;
}
#search-result .video-list li div img{
  float: left;
}
body{
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  // background-color: #c3c3c3;
}
button{
  color: #1a73e8;
  background-color: white;
  border: 1px solid #1a73e8;
  border-radius: 2px;
  width: 90px;
  height: 45px;
  font-weight: 900;
  margin-right: 10px;
}
button:hover{
  cursor: pointer;
  // background-color: rgb(40, 122, 230);
}
span{
  vertical-align: 40%;
  // border: 1px solid black;
}
svg{
  width:50px;
}